:root {
    --main-bg-color: #0c151e;
    --header-bg-color: #070c11;
    --title-color: rgb(197, 202, 222);
    --link-hover-color: rgb(173, 204, 232);
    --footer-bg-color: #555;
    --sidenav-bg-color: #111;
    --text-color: whitesmoke;
    --primary-btn-bg: rgb(113, 113, 113);
    --primary-btn-border: gray;
    --primary-btn-hover-bg: rgb(174, 174, 174);
    --primary-btn-hover-color: rgb(55, 55, 55);
    --footer-text-color: white;
}

body {
    background-color: var(--main-bg-color);
    min-height: 100vh;
    margin: 0;
}

header {
    height: 5rem;
    display: flex;
    justify-content: start;
    padding-left: 10%;
    align-items: center;
    background-color: var(--header-bg-color);
}

.headerSub {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    color: var(--title-color);
    font-weight: 600;
    font-size: 2rem;
}

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

nav a:hover {
    text-decoration: none;
    color: var(--link-hover-color);
}

.menuContainer {
    display: none;
    cursor: pointer;
    margin-right: 2rem;
}

.menuBar1,
.menuBar2,
.menuBar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* making menu button to close button */
.menuClose .menuBar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.menuClose .menuBar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menuClose .menuBar2 {
    opacity: 0;
}

/* side nav */
.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidenav-bg-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.sideNavActive {
    width: 300px;
}

#menuCloseContainer {
    margin-left: 2rem;
}

/* todo list */
.taskSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 4rem;
    min-height: 65vh;
}

.newTask {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#newTaskInp {
    padding: .5rem;
    background: none;
    border-radius: 1rem;
    outline: none;
    border: 1px solid gray;
    width: 25%;
    font-size: 2rem;
    color: var(--text-color);
    margin-right: 2rem;
}

#addTaskBtn {
    padding: .5rem 1rem;
    background: var(--primary-btn-bg);
    border-radius: 1rem;
    border: 2px solid gray;
    font-size: 18px;
    font-weight: 600;
    transition: background .5s, color .5s;
}

#addTaskBtn:hover {
    background-color: var(--header-bg-color);
    color: var(--footer-text-color);
}

.tasksHeading {
    margin-top: 2rem;
    color: rgb(191, 191, 191);
    text-align: center;
    text-decoration: underline;
}

.taskListDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.taskList {
    display: flex;
    gap: 2rem;
    width: 35rem;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

input [type="checkbox"] {
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.taskList p {
    color: #c5c5c5;
    font-size: 20px;
    font-weight: 600;
}

.doneBtn {
    background-color: blue;
    color: white;
    font-size: 20;
    font-weight: 500;
    padding: .5rem;
}

.doneBtnActive {
    background-color: rgb(68, 68, 68);
}

.deleteBtn {
    background-color: red;
    color: white;
    font-size: 20;
    font-weight: 500;
    padding: .5rem;
}

/* Quote generation */
.quoteGeneratorSection {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-height: 65vh;
}

#generatorBtn {
    max-width: 200px;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    transition: background-color .5s, color .5s;
    border: 1px solid gray;
}

#generatorBtn:hover {
    background-color: var(--header-bg-color);
    color: var(--footer-text-color);
}

.quoteTextArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.quoteTextArea p {
    color: var(--text-color);
    font-size: 1.5rem;
}

.quoteTextArea p:last-child {
    font-size: 1rem;
    text-align: end;
    margin-left: 10rem;
}

/* footer */
footer {
    color: var(--footer-text-color);
    text-align: center;
    padding: 1em 10rem;
    background-color: var(--footer-bg-color);
}

footer h2 {
    margin: 2rem 0;
    white-space: nowrap;
}

.footerBottom {
    display: flex;
    justify-content: space-evenly;
}

.contactDetails,
.footerLinks,
.footerLocation {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    list-style-type: none;
}

.contactDetails li:first-child,
.footerLinks li:first-child,
.footerLocation li:first-child {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.contactDetails li,
.footerLinks li,
.footerLocation li {
    margin: 0.5rem 0;
}

.footerLinks a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--footer-text-color);
    transition: color 0.3s ease;
    text-decoration: none;
}

.footerLinks a:hover {
    color: #007BFF;
}

.footerIcons {
    margin-right: 10px;
}

.footerIcons {
    width: 20px;
    height: 20px;
}

.footerBottomImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 3rem 0;
}

/* Responsive media query */
@media only screen and (max-width: 768px) {
    header {
        width: 90%;
    }

    header nav {
        display: none;
    }

    .headerSub {
        justify-content: start;
    }

    .menuContainer {
        display: inline-block;
    }

    .newTask {
        gap: 2rem;
        flex-direction: column;
    }

    #newTaskInp {
        width: 80%;
        margin: 0;
    }
}

@media only screen and (max-width: 900px) {
    footer {
        padding: 1rem;
    }

    .footerBottom {
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .contactDetails,
    .footerLinks,
    .footerLocation {
        align-items: center;
    }
}